* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    /* background: linear-gradient(135deg, #FFDEE9, #B5FFFC); */
    background-image: url('download.gif');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #222;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

img {
    width: 40%;
    
}

audio {
    display: none;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}


